<div class="dashboard-container">
    <h2>Support Team Dashboard</h2>
  
    <!-- Grid container for colorful cards -->
    <div class="card-grid">
      <div
        class="grid-card"
        *ngFor="let feedback of feedbackCategories"
        [ngStyle]="{ 'background-color': getRandomColor() }"
        (click)="redirectToCategory(feedback)"
      >
        <h3>{{ feedback.categoryName }}</h3>
        <p>Open - {{ feedback.openCount }}</p>
        <p>Resolved - {{ feedback.resolvedCount }}</p>
      </div>
    </div>
  </div>
  