<div class="dashboard-container" *ngIf="isAdmin">
    <h2>Admin Dashboard</h2>
    <div class="card-grid">
      <div class="grid-card" (click)="feedbackCategories()" [ngStyle]="{ 'background-color': getRandomColor() }">
        <h3>Feedback Categories</h3>
        <p>Manage different feedback categories</p>
      </div>
      <div class="grid-card" (click)="viewFeedbacks('hi')" [ngStyle]="{ 'background-color': getRandomColor() }">
        <h3>View Feedback</h3>
        <p>Check all submitted feedback</p>
      </div>
    </div>
  </div>
  
  <div class="dashboard-container" *ngIf="!isAdmin">
    <h2>User Dashboard</h2>
    <div class="card-grid">
      <div class="grid-card" (click)="postFeedback()" [ngStyle]="{ 'background-color': getRandomColor() }">
        <h3>Post Feedback</h3>
        <p>Submit your feedback</p>
      </div>
      <div class="grid-card" (click)="alreadySubmittedFeedbacks()" [ngStyle]="{ 'background-color': getRandomColor() }">
        <h3>Already Submitted Feedback</h3>
        <p>View your past submissions</p>
      </div>
    </div>
  </div>