.top-class {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;

    .side-nav {
        height: 100%;
        width: 40%;
        max-width: 250px !important;
        display: flex;
    }
    .rest-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        .header {
            height: 56px;
            width: 100%;
            border: 1px solid black;
            box-sizing: border-box;
            .header-options {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: flex-end;
                padding: 0 10px;
                .signout-label {
                    display: flex;
                    gap: 5px;
                    cursor: pointer;
                    padding: 10px;
                    background: #0725ce42;
                    border-radius: 30px;
                }
            }
        }
        .content {
            display: flex;
            height: calc(100vh - 56px - 40px);
            width: 100%;
            flex: 1 1 0;
            overflow: auto;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid black;
        }
        .footer {
            height:40px;
            display: flex;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid black;
            justify-content: space-between;
            align-items: center;

            .left,.right {
                display: flex;
                gap: 5px;

                .text-label {
                    font-weight: bold;
                    font-size: 12px;
                }
                .project-name {
                    font-weight: 800;
                }
            }
        }
    }
}