<div class="top-class">
    <div class="side-nav">
        <app-side-bar></app-side-bar>
    </div>
    <div class="rest-content">
        <div class="header">
            <div class="header-options">
                <div class="signout-label" (click)="onLogout()">
                    Logout <img src="assets/sign-out.png" height="20" width="20" alt="signout"/>
                </div>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <div class="left">
                <span class="text-label">Copyright &#64; 2024</span>
                <span class="text-label project-name"> Student Feedback System</span>
                <span class="text-label">All rights reserved</span>
            </div>
            <div class="right">
                <span class="text-label">GYAN SHEELA</span>
            </div>
        </div>
    </div>
</div>